<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1></h1>
  <div class="container" id="home-container">
    <div class="jumbotron">
      <h1 class="display-4">Finance Tracker</h1>
      <p class="lead">Welcome to Finance - Tracker</p>
      <hr class="my-4">
      <p> You can follow your friends, add stocks, create your profiles .</p>
    </div>
  </div>
</body>
</html>